{% extends 'base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
    {{form_start(form)}}
    {{form_row(form.label)}}
    <button type="submit">Valider</button>
    {{form_end(form)}}
{% endblock %}